{% block css %}
<style type="text/css">
.slider-bar {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-header {
    font-size: 1.4em;
    margin-top: 10px;
    border-bottom: 1px #ccc solid;
}
.list-menu .post-date {
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
}

</style>
{% endblock %}

{% include "__post_script.html" %}
{% block script %}
<script type="text/javascript" src="/static/assets/jquery.imagesloaded.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var $container = $(".container-list");

        var show_post = function(post, scrollto){
            post.post_date = post.post_date.to_date();
            post.updated_date = post.updated_date.to_date();

            var $post = get_post_div(post);

            show_list_menu(post);

            if (post.public) {
                $post.removeClass("muted");
                $(".post-hide", $post).text("").hide();
            } else {
                $post.addClass("muted");
                $(".post-hide", $post).text("{{ _("Hidden") }}").show();
            }

            if(post.sticky) {
                $(".post-sticky", $post).show();
            } else {
                $(".post-sticky", $post).hide();
            }

            var $tags = $(".tags", $post).empty();
            $.each(post.tags, function(index, tag){
                $tags.append('<li><a href="/tags/{0}">{0}</a></li>'.format(tag));
            });

            $("input.date_val", $post).val(post.post_date.format("yyyy-MM-dd")).attr("id", "post_date_"+post.id);
            $(".post-title .title", $post).text(post.title).attr("href", "/post/{0}".format(post.id));
            $(".post-title img", $post).attr("src", post.author.avatar_url).attr("title", post.author.nickname);
            $(".post-body", $post).html(md2html(post.body));
            $(".post-date", $post).html(post.post_date.format("yyyy-MM-dd"));
            $(".post-author", $post).text(post.author.nickname);
            $(".post-viewed", $post).html(post.stats.view_count);
            $(".share", $post).html('<i class="icon-share"></i>{0}'.format(post.stats.share_count));
            $(".share", $post).click(function(){
                show_share(post);
            });
            $(".stats[name=like_count]", $post).html('<i class="icon-thumbs-up"></i>{0}'.format(post.stats.like_count));
            $(".stats[name=unlike_count]", $post).html('<i class="icon-thumbs-down"></i>{0}'.format(post.stats.unlike_count));
            $(".comment", $post).html('<i class="icon-comment"></i>{0}'.format(post.stats.comment_count));

            $("pre>code", $post).parent().addClass("prettyprint");
            prettyPrint();

            $post.imagesLoaded(function(){
                bind_img($(".post-body",$post));
            });

            build_thumbnails($(".post-thumbnails", $post), post);

            reset_scroll();
            $post.show();
            scrollto && $post.scrollto(120).addClass("active");
        };

        var get_post_div = function(post){
            var $post = $("#post_"+post.id);
            //$post.remove();
            //$post = $("#post_"+post.id);
            if ($post.length <= 0){
                $post = $("#post_template").clone();

                var $posts = $(".post", $container).not(".sticky");
                if (post.sticky){
                    $post.addClass("sticky");
                    if ($posts.length>0){
                        $posts.first().before($post);
                    } else {
                        $container.append($post);
                    }
                } else {
                    var found = false;
                    for ( var i=0; i<$posts.length; i++ ){
                        var $p = $($posts[i]);
                        {% if category.order == "desc" %}
                            if ( get_post_date($p) < post.post_date )
                            {
                                $p.before($post);
                                found = true;
                                break;
                            }
                        {% else %}
                            if ( get_post_date($p) > post.post_date )
                            {
                                $p.after($post);
                                found = true;
                                break;
                            }
                        {% endif %}
                    }
                    if (!found){
                        $container.append($post);
                    }
                }

                $post.attr("id", "post_{0}".format(post.id));
                var $comments_panel = $(".comments_panel", $post);
                $(".cmdbar .comment", $post).click(function(){
                    $comments_panel.show();
                    var comment = new Comment(md2html);
                    comment.show_comments($comments_panel,  post.id);
                });

                $(".cmdbar .stats", $post).click(function(){
                    var $this = $(this);
                    var $icon = $this.find("i").clone();
                    $.json_action("stats",{
                        stats_type: $.toJSON($this.attr("stats_type")),
                        id: $.toJSON(post.id),
                        oper: $.toJSON($this.attr("oper")),
                        name: $.toJSON($this.attr("name"))
                    },function(resp){
                        $this.empty();
                        $this.append($icon);
                        $this.append(resp.stats[$this.attr("name")]);
                    },function(err){
                        bootbox.alert(err);
                    });
                    $this.unbind("click");
                });

                {% if user.is_admin() %}
                $(".menu-edit", $post).click(menu_edit);
                $(".menu-delete", $post).click(menu_delete);
                {% endif %}
            }
            return $post;
        };

        var $list_menu = $(".list-menu");

        var get_list_menu = function(post){
            var $menu = $("#list_menu_"+post.id);
            if ($menu.length <= 0){
                $menu = $("#list_menu_template").clone();
                $menu.attr("id", "list_menu_{0}".format(post.id));
                $list_menu.append($menu);
            }
            return $menu;
        };
        var show_list_menu = function(post){
            var $menu = get_list_menu(post);

            if (post.public) {
                $menu.removeClass("muted");
                $(".post-hide", $menu).text("").hide();
            } else {
                $menu.addClass("muted");
                $(".post-hide", $menu).text("{{ _("Hidden") }}").show();
            }
            if(post.sticky) {
                $(".post-sticky", $menu).show();
            } else {
                $(".post-sticky", $menu).hide();
            }

            $("a", $menu).attr("href", "#post_"+post.id);
            $(".name", $menu).text(post.title);
            $(".post-date", $menu).html(post.post_date.format("yyyy-MM-dd"));

            $menu.unbind("click");
            $menu.click(function(){
                active_menu($menu);
                return false;
            });

            $menu.show();
            resize_list_holder();
        };
        var active_menu = function($menu){
            if ($menu && $menu.length > 0){
                $list_menu.find("li").removeClass("active");
                $container.find(".post").removeClass("active");
                $menu.addClass("active");
                reset_scroll();
                $("#post_"+$menu.attr("id").replace("list_menu_", "")).scrollto(120).addClass("active");
            }
        };
        var stop_scroll = false;
        var reset_scroll = function(delay){
            delay = delay || 2000;
            stop_scroll = true;
            window.setTimeout(function(){
                stop_scroll = false;
            }, delay);
            return true;
        };
        $(window).scroll($.debounce(500, function(){
            if (!stop_scroll) {
                var $posts = $(".post");
                var current = $posts.filter(function() {
                    return $(this).offset().top > $(document).scrollTop()+20 &&
                            $(this).offset().top < $(document).scrollTop()+220;
                });
                current = $(current[0]);
                if (current.length > 0){
                    var $menu = $("#list_menu_"+current.attr("id").replace("post_", ""))
                    $list_menu.find("li").removeClass("active");
                    $menu.addClass("active");
                    $container.find(".post").removeClass("active");
                    current.addClass("active");
                }
            }
        }));

        var $list_holder = $(".list-holder");
        var $slider_bar = $(".slider-bar");
        var resize_list_holder = function(){
            if ($slider_bar.css("position") === "fixed"){
                $list_holder.height($slider_bar.height()/2+40);
                $list_holder.outerWidth($slider_bar.outerWidth()+20);
            } else {
                $list_holder.height(0);
            }
        };
        resize_list_holder();

        var $album_view = $(".album_view");

        $(window).resize(function() {
            bind_img($container);
            resize_list_holder();
        });

        $("#load-more-post").click(function() {
            load_posts(show_post);
        });

        load_posts(show_post);

        bind_shortcuts($list_menu, active_menu, show_post);
        {% if user.is_admin() %}
        var post_callback = function(post_data){
            editor.hide();
            show_post(post_data, true);
        };
        editor = new Editor(md_converter, post_callback);
        $("#new-post").click(function(){
            editor.new_post();
        });
        {% endif %}
    });
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {% if user.is_admin() %}
        <!-- Editor -->
        {% include "_editor.html" %}
    {% endif %}
    <!-- Post Template -->
    <div id="post_template" class="post hide" >
        <input type="hidden" class="date_val" />
        <div class="post-title">
            <span class=""><img src="" class="avatar32"/></span>
            <span class="post-sticky hide" title="{{ _("Sticky") }}"></span>
            <span class="label post-hide hide"></span>
            <a href="" class="title"></a>
            {% if user.is_admin() %}
            <div class="menu btn-group pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <i class="icon-download"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="menu-edit" href="javascript:;">{{ _("Edit") }}</a></li>
                    <li><a class="menu-delete" href="javascript:;">{{ _("Delete") }}</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <ul class="tags"></ul>
        <div class="post-body">
        </div>
        <ul class="post-thumbnails hide"></ul>
        <div style="clear: both"></div>
        <div class="post-bottom clearfix">
            <i class="icon-time"></i><span class="post-date"></span>
            <div class="cmdbar">
                <i class="icon-user"></i><span class="post-author">
                </span>
                <i class="icon-eye-open"></i><span class="post-viewed">
                </span>
                <button class="share btn btn-mini" title="{{ _("Share") }}"><i class="icon-share"></i></button>
                <button class="stats btn btn-mini" stats_type="Post" name="like_count" oper="increase"
                    title="{{ _("Like") }}"><i class="icon-thumbs-up"></i>
                </button>
                <button class="stats btn btn-mini" stats_type="Post" name="unlike_count" oper="increase"
                    title="{{ _("Unlike") }}"><i class="icon-thumbs-down"></i>
                </button>
                <button class="comment btn btn-mini" title="{{ _("Comment") }}"><i class="icon-comment"></i></button>
            </div>
        </div>
        <div class="comments_panel hide"></div>
    </div>
    <!-- End Post Template -->
<!-- Menu and Posts -->
<div class="row">
    <div class="span3 affix slider-bar well">
        <li class="nav-header menu-header">
            {{ category.name }}
        </li>
        <li class="hide" id="list_menu_template">
            <a href="javascript:;" class="">
                <span class="post-sticky hide" title="{{ _("Sticky") }}"></span>
                <span class="label post-hide hide"></span>
                <span class="name">template</span>
                <br><i class="icon-time"></i><span class="post-date"></span>
            </a>
        </li>
        <ul class="nav nav-list list-menu">
        </ul>
        <p class="text-center">
            <button id="load-more-post" class="btn btn-block btn-info hide">{{ _("More") }}...</button>
            <img id="post-loading" class="loading" src="/static/images/posts_loading.gif" alt="{{ _("loading") }}..."/>
        </p>
    </div>
    <div class="span3 list-holder">
    </div>
    <div class="container-fluid container-list span6">
    </div>
    <div class="clearfix"></div>
    <!-- Loading -->
    <div class="span3 list-holder">
    </div>

    </div>
</div>
<!-- End Menu and Posts -->
<!-- Comments -->
{% include "__comment.html" %}
{% endblock %}
