{% set thumb_size = config["THUMB_SIZE"][0] %}

{% block css %}
    <style type="text/css">
.slider-bar {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.albums-header {
    font-size: 1.4em;
    margin-top: 10px;
    border-bottom: 1px #ccc solid;
}

.albums-menu .post-date {
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
}

.album_view {
    margin-top: 15px;
}

.container-list .photo_cmdbar {
    display: block;
    float: none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: #333;
    padding: 0 5px;
    border-radius: 2px;
}

.photo_cmdbar a {
color: #fff;
text-decoration: none;
}

.container-list .post {
    margin: 0;
    padding: 15px 0 0 0;
}
.post-thumbnails {
    padding: 0;
    border: none;
}
.post-thumbnails .thumbnail {
    width: {{ thumb_size//2-10 }}px;
    margin: 5px;
    padding: 2px;
    float: left;
    display: block;
    border: 3px #ccc solid;
}
.post-thumbnails > .thumbnail:nth-child({{ thumb_size//100 }}n+1) {
    width: {{ thumb_size }}px;
    margin: 6px 5px;
}

</style>

<!-[if lt IE 9]>
<style type="text/css">
.post-thumbnails > .thumbnail:first-child {
width: {{ thumb_size }}px;
margin: 6px 5px;
}
</style>
<![endif]->
<style type="text/css">
@media (max-width: 480px) {
    .post-thumbnails .thumbnail {
        width: 200px;
        margin: 0;
    }
    .post-thumbnails > .thumbnail:nth-child({{ thumb_size//100 }}n+1) {
        width: 200px;
        margin: 0;
    }
    .post-thumbnails > .thumbnail:first-child {
        width: 200px;
        margin: 0;
    }
}
</style>
{% endblock %}


{% block script %}
    {% include "__post_script.html" %}
<script type="text/javascript" src="/static/assets/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="/static/assets/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var $albums_holder = $("#albums-holder");
    var $slider_bar = $(".slider-bar");
    var resize_album_holder = function(){
        if ($slider_bar.css("position") === "fixed"){
            $albums_holder.height($slider_bar.height()+40);
            $albums_holder.outerWidth($slider_bar.outerWidth()+20);
        } else {
            $albums_holder.height(0);
        }
    };
    resize_album_holder();

    var $album_view = $(".album_view");
    $(window).resize(function() {
        resize_album_holder();
        bind_images($album_view);
    });

    var masonry = function($container){
        $container.imagesLoaded(function(){
            $container.masonry({
                // options
                itemSelector : '.thumbnail',
                isFitWidth : true,
                isAnimated: true,
                isResizable: true,
                columnWidth: {{ thumb_size//2 + 10 }}
                });
        });
    };

    var bind_images =function($container){
        bind_img($container, -1, -1);
        $(".img_info").each(function(index, item){
            var $info = $(item);
            if ($info.width() < 240){
                $info.hide();
                $info.parent().hover(function(){
                    $info.show();
                }, function(){
                    $info.hide();
                });
            }
        });
    };

    var insert_thumb = function($container, photo){
        var $th = $('<li class="thumbnail">' +
                '<img src="{0}" real_src="{1}" alt="{2}" photo_id="{3}">'.format(photo.url_thumb||photo.url,
                        photo.url, photo.alt, photo.id) +
                '</li>');
        var $cmdbar = $cmdbar_template.clone().hide();

        $cmdbar.find(".stats").attr("target_id", photo.id);
        $cmdbar.find(".stats[name=like_count]>i").after(photo.stats.like_count);
        $cmdbar.find(".stats[name=unlike_count]>i").after(photo.stats.unlike_count);
        $th.append($cmdbar);

        $(".photo_cmdbar .stats", $th).click(function(){
            var $this = $(this);
            var $icon = $this.find("i").clone();
            $.json_action("stats",{
                stats_type: $.toJSON($this.attr("stats_type")),
                id: $.toJSON($this.attr("target_id")),
                oper: $.toJSON($this.attr("oper")),
                name: $.toJSON($this.attr("name"))
            },function(resp){
                $this.empty();
                $this.append($icon);
                $this.append(resp.stats[$this.attr("name")]);
                photo.stats = resp.stats;
            },function(err){
                bootbox.alert(err);
            });
            $this.unbind("click");
        });

        $th.hover(function(){
            $cmdbar.show();
        }, function(){
            $cmdbar.hide();
        });

        $container.append($th);
    };

    // get hot photos
    var $cmdbar_template = $("#cmdbar_template");
    $.json_action("photos/hot",{'count': 12},function(resp){
        $.each(resp.photos, function(index, photo){
            insert_thumb($album_view.find(".post-thumbnails"), photo);
        });
        masonry($album_view.find(".post-thumbnails"));
        window.setTimeout(function(){
            bind_images($album_view.find(".post-thumbnails"));
        }, 2000);
    },function(err){
        bootbox.alert(err);
    });

    var $albums_menu = $(".albums-menu");

    var get_album_menu = function(post){
        var $menu = $("#album_"+post.id);
        if ($menu.length <= 0){
            $menu = $("#album_menu_template").clone();
            $menu.attr("id", "album_{0}".format(post.id));
            $albums_menu.append($menu);
        }
        return $menu;
    };
    var show_album_menu = function(post, scrollto){
        post.post_date = post.post_date.to_date();
        post.updated_date = post.updated_date.to_date();

        var $menu = get_album_menu(post);

        if (post.public) {
            $menu.removeClass("muted");
            $(".post-hide", $menu).text("").hide();
        } else {
            $menu.addClass("muted");
            $(".post-hide", $menu).text("{{ _("Hidden") }}").show();
        }

        if(post.sticky) {
            $(".post-sticky", $menu).show();
        } else {
            $(".post-sticky", $menu).hide();
        }

        $(".name", $menu).text(post.title);
        $(".badge", $menu).text(post.photos.length);
        $(".post-date", $menu).html(post.post_date.format("yyyy-MM-dd"));

        $menu.unbind("click");
        $menu.click(function(){
            $albums_menu.find("li").removeClass("active");
            $menu.addClass("active");
            show_album(post);
        });

        $menu.show();

        resize_album_holder();

        return $menu;
    };
    var show_album = function(post){
        var $post = $("#album_template").clone();

        var $tags = $(".tags", $post).empty();
        $.each(post.tags, function(index, tag){
            $tags.append('<li><a href="/tags/{0}">{0}</a></li>'.format(tag));
        });

        $("input.date_val", $post).val(post.post_date).attr("id", "post_date_"+post.id);
        $(".post-title .title", $post).text(post.title);
        $(".post-title img", $post).attr("src", post.author.avatar_url).attr("title", post.author.nickname);
        $(".post-date", $post).html(post.post_date.format("yyyy-MM-dd"));
        $(".post-author", $post).text(post.author.nickname);
        $(".share", $post).html('<i class="icon-share"></i>{0}'.format(post.stats.share_count));
        $(".share", $post).click(function(){
            show_share(post);
        });
        $(".stats[name=like_count]", $post).html('<i class="icon-thumbs-up"></i>{0}'.format(post.stats.like_count));
        $(".stats[name=unlike_count]", $post).html('<i class="icon-thumbs-down"></i>{0}'.format(post.stats.unlike_count));
        $(".comment", $post).html('<i class="icon-comment"></i>{0}'.format(post.stats.comment_count));

        $.each(post.photos, function(index, photo){
            insert_thumb($post.find(".post-thumbnails"), photo);
        });

        $post.attr("id", "post_{0}".format(post.id));
        var $comments_panel = $(".comments_panel", $post);
        $(".cmdbar .comment", $post).click(function(){
            $comments_panel.show();
            var comment = new Comment(md2html);
            comment.show_comments($comments_panel,  post.id);
        });

        $(".cmdbar .stats", $post).click(function(){
            var $this = $(this);
            var $icon = $this.find("i").clone();
            $.json_action("stats",{
                stats_type: $.toJSON($this.attr("stats_type")),
                id: $.toJSON(post.id),
                oper: $.toJSON($this.attr("oper")),
                name: $.toJSON($this.attr("name"))
            },function(resp){
                $this.empty();
                $this.append($icon);
                $this.append(resp.stats[$this.attr("name")]);
                post.stats = resp.stats;
            },function(err){
                bootbox.alert(err);
            });
            $this.unbind("click");
        });

        {% if user.is_admin() %}
            $(".menu-edit", $post).click(menu_edit);

            var album_delete = function(e){
                var $post = $(this).parents(".post");
                menu_delete(e, $post, function(resp){
                    var $menu = get_album_menu(post);
                    $menu.remove();
                });
            }
            $(".menu-delete", $post).click(album_delete);
        {% endif %}

        $album_view.html($post);
        $post.show();
        masonry($album_view.find(".post-thumbnails"));

        window.setTimeout(function(){
            bind_images($album_view.find(".post-thumbnails"));
        }, 2000);
    };

    $("#load-more-post").click(function() {
        load_posts(show_album_menu);
    });

    load_posts(show_album_menu);

    var active_menu = function($menu){
        if ($menu && $menu.length > 0){
            $menu.trigger('click');
        }
    };

    bind_shortcuts($albums_menu, active_menu, show_album_menu);

    {% if user.is_admin() %}
        var post_callback = function(post_data){
            editor.hide();
            show_album_menu(post_data, true).trigger("click");
        };
        editor = new Editor(md_converter, post_callback, true);
        var $new_album = $("#new-post");
        $new_album.html('<i class="icon-th-large icon-white"></i>{{ _("New Album") }}');
        $new_album.click(function(){
            editor.new_post(null, true);
        });
    {% endif %}
});
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {% if user.is_admin() %}
        {% include "_editor.html" %}
    {% endif %}
    <div class="row">
        <div class="span3 affix slider-bar well">
            <li class="nav-header albums-header">
                <a href="">{{ _("Albums") }}</a>
            </li>
            <li class="hide" id="album_menu_template">
                <a href="javascript:;">
                    <span class="post-sticky hide" title="{{ _("Sticky") }}"></span>
                    <span class="label post-hide hide"></span>
                    <span class="name">template</span>
                    <span class="badge badge-success">0</span>
                    <br><i class="icon-time"></i><span class="post-date"></span>
                </a>
            </li>
            <ul class="nav nav-list albums-menu">
            </ul>
            <p class="text-center">
                <button id="load-more-post" class="btn btn-block btn-info hide">{{ _("More") }}...</button>
                <img id="post-loading" class="loading" src="/static/images/posts_loading.gif" alt="{{ _("loading") }}..."/>
            </p>
        </div>
        <div class="span3" id="albums-holder">
            <div id="album_template" class="post hide row-fluid" >
                <input type="hidden" class="date_val" />
                <ul class="tags"></ul>
                <ul class="post-thumbnails"></ul>
                <div style="clear: both"></div>
                <div class="post-bottom clearfix">
                    <i class="icon-time"></i><span class="post-date"></span>
                    <div class="cmdbar">
                        <i class="icon-user"></i><span class="post-author"></span>
                        <button class="share btn btn-mini" title="{{ _("Share") }}"><i class="icon-share"></i></button>
                        <button class="stats btn btn-mini" stats_type="Post" name="like_count" oper="increase"
                                title="{{ _("Like") }}"><i class="icon-thumbs-up"></i>
                        </button>
                        <button class="stats btn btn-mini" stats_type="Post" name="unlike_count" oper="increase"
                                title="{{ _("Unlike") }}"><i class="icon-thumbs-down"></i>
                        </button>
                        <button class="comment btn btn-mini" title="{{ _("Comment") }}"><i class="icon-comment"></i></button>
                        {% if user.is_admin() %}
                            <div class="menu btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    <i class="icon-download"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="menu-edit" href="javascript:;">{{ _("Edit") }}</a></li>
                                    <li><a class="menu-delete" href="javascript:;">{{ _("Delete") }}</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="comments_panel hide"></div>
            </div>
            <div id="cmdbar_template" class="photo_cmdbar hide">
                <a class="stats" stats_type="Photo" target_id="" name="like_count" oper="increase"
                   href="javascript:;" title="{{ _("Like") }}"><i class="icon-thumbs-up icon-white"></i>
                </a>
                <a class="stats" stats_type="Photo" target_id="" name="unlike_count" oper="increase"
                   href="javascript:;" title="{{ _("Unlike") }}"><i class="icon-thumbs-down icon-white"></i>
                </a>
            </div>
        </div>
        <div class="span7 album_view container-list">
            <div class="post row-fluid">
                <li class="nav-header albums-header">
                    {{ _("Hot Photos") }}
                </li>
                <ul class="post-thumbnails"></ul>
            </div>
        </div>
    </div>
</div>
{% include "__comment.html" %}
{% endblock %}
