{% block css %}
{% endblock %}

{% include "__post_script.html" %}
{% block script %}
<script type="text/javascript" src="/static/assets/jquery.imagesloaded.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        var $container = $(".container-timeline");

        var show_post = function(post, scrollto){
            var post_date =post.post_date.to_date();
            var updated_date = post.updated_date.to_date();
            post.post_date = post_date;
            post.updated_date = updated_date;

            var $post = get_post_div(post);

            if (post.public) {
                $post.removeClass("muted");
                $(".post-hide", $post).text("").hide();
            } else {
                $post.addClass("muted");
                $(".post-hide", $post).text("{{ _("Hidden") }}").show();
            }

            if(post.sticky) {
                $(".post-sticky", $post).show();
            } else {
                $(".post-sticky", $post).hide();
            }

            $("input.date_val", $post).val(post_date.format("yyyy-MM-dd")).attr("id", "post_date_"+post.id);
            $("div.post-date", $post).html('{0}.{1}<span>{2}</span>'.format(post_date.getMonth()+1,
                    post_date.getDate(), post_date.getFullYear()));

            var $tags = $(".tags", $post);
            $.each(post.tags, function(index, tag){
                $tags.append('<li><a href="/tags/{0}">{0}</a></li>'.format(tag));
            });

            $(".post-author", $post).attr("title", post.author.nickname);
            $(".post-author img", $post).attr("src", post.author.avatar_url);
            $(".post-title a", $post).attr("href", "/post/"+post.id).text(post.title);
            $(".post-category", $post).attr("href","/"+post.category.url).append(post.category.name);
            $(".post-viewed", $post).html(post.stats.view_count);
            $(".share", $post).html('<i class="icon-share"></i>{0}'.format(post.stats.share_count));
            $(".share", $post).unbind("click");
            $(".share", $post).click(function(){
                show_share(post);
            });

            $(".stats[name=like_count]", $post).html('<i class="icon-thumbs-up"></i>{0}'.format(post.stats.like_count));
            $(".stats[name=unlike_count]", $post).html('<i class="icon-thumbs-down"></i>{0}'.format(post.stats.unlike_count));
            $(".comment", $post).html('<i class="icon-comment"></i>{0}'.format(post.stats.comment_count));


            $(".post-body", $post).html(md2html(post.body));
            $(".post-body", $post).imagesLoaded(function(){
                bind_img($(".post-body", $post));
            });

            $("pre>code", $post).parent().addClass("prettyprint");
            prettyPrint();

            build_thumbnails($(".thumbnails", $post), post);

            reset_scroll();
            $post.show();
            if (scrollto) {
                $container.find(".post.active").removeClass("active");
                $post.scrollto(120).addClass("active");
            }
        };

        var get_post_div = function(post){
            var $post = $("#post_"+post.id);
            $post.remove();
            $post = $("#post_"+post.id);
            if ($post.length <= 0){
                $post = $("#post_template").clone();
                if (post.sticky){
                    $post.addClass("sticky");
                    var first_year = $container.find(".timeline-year:first");
                    if (first_year.length > 0){
                        first_year.before($post);
                    }
                    else {
                        $container.append($post);
                    }
                } else {
                    var $year = get_year_div(post.post_date.getFullYear());
                    var $posts = $(".post", $year);
                    var found = false;
                    for ( var i=0; i<$posts.length; i++ ){
                        var $p = $($posts[i]);
                        {% if category.order == "desc" %}
                            if ( get_post_date($p) < post.post_date )
                            {
                                $p.before($post);
                                found = true;
                                break;
                            }
                        {% else %}
                            if ( get_post_date($p) > post.post_date )
                            {
                                $p.after($post);
                                found = true;
                                break;
                            }
                        {% endif %}

                    }
                    if (!found){
                        $year.append($post);
                    }
                }

                var $comments_panel = $(".comments_panel", $post);
                $(".cmdbar .comment", $post).click(function(){
                    $comments_panel.show();
                    var comment = new Comment(md2html);
                    comment.show_comments($comments_panel,  post.id);
                });

                $(".cmdbar .stats", $post).click(function(){
                    var $this = $(this);
                    var $icon = $this.find("i").clone();
                    $.json_action("stats",{
                        stats_type: $.toJSON($this.attr("stats_type")),
                        id: $.toJSON(post.id),
                        oper: $.toJSON($this.attr("oper")),
                        name: $.toJSON($this.attr("name"))
                    },function(resp){
                        $this.empty();
                        $this.append($icon);
                        $this.append(resp.stats[$this.attr("name")]);
                    },function(err){
                        bootbox.alert(err);
                    });
                    $this.unbind("click");
                });



                // bind actions
                $post.attr("id", "post_{0}".format(post.id));
                {% if user.is_admin() %}
                $(".menu-edit", $post).click(menu_edit);
                $(".menu-delete", $post).click(menu_delete);
                {% endif %}
            }
            return $post;
        };

        var get_year_div = function(year){
            var $year_div = $("#year_" + year);
            if ($year_div.length <= 0 ){
                var $year = $('<div class="timeline-year">' +
                          '<a class="collapse_btn" href="javascript:;" data-target="#year_{0}">'.format(year) +
                          '{0} </a></div>'.format(year) +
                          '<div id="year_{0}" class="collapse in year-content"></div>'.format(year));

                var $years = $(".timeline-year");
                var found = false;
                for ( var i=0; i<$years.length; i++ ){
                    var $y = $($years[i]);
                {% if category.order == "desc" %}
                    if ( $("a", $y).attr("data-target") < "#year_"+year )
                {% else %}
                    if ( $("a", $y).attr("data-target") > "#year_"+year )
                {% endif %}
                    {
                        $y.before($year);
                        found = true;
                        break;
                    }
                }
                if (!found){
                    $container.append($year);
                }
                $year_div = $("#year_"+year);

                $(".collapse_btn", $year).click(function(){
                    if ($year_div.hasClass("in")) {
                        $year_div.collapse('hide').removeClass("in");
                        $year_div.attr("style", "height:0px;");
                    } else {
                        $year_div.collapse('show').addClass("in");
                        $year_div.attr("style", "height:auto;");
                    }
                    return false;
                });
            }
            return $year_div;
        };

        $(window).resize(function() {
           bind_img($container);
        });

        $("#load-more-post").click(function() {
            load_posts(show_post);
        });
        $(window).bind("scroll", $.debounce(50, function(){
            if ($(document).scrollTop() + $(window).height() > $(document).height() - 10) {
                load_posts(show_post);
            }
        }));
        load_posts(show_post);


        var active_post = function($menu){
            if ($menu && $menu.length > 0){
                $container.find(".post").removeClass("active");
                reset_scroll();
                $menu.addClass("active").scrollto(120);
            }
        };

        bind_shortcuts($container, active_post, show_post, ".post");

        var stop_scroll = false;
        var reset_scroll = function(delay){
            delay = delay || 2000;
            stop_scroll = true;
            window.setTimeout(function(){
                stop_scroll = false;
            }, delay);
            return true;
        };
        $(window).scroll($.debounce(500, function(){
            if (!stop_scroll) {
                var $posts = $(".post");
                var current = $posts.filter(function() {
                    return $(this).offset().top > $(document).scrollTop() + 30 &&
                            $(this).offset().top < $(document).scrollTop()+ 230;
                });
                current = $(current[0]);
                if(current && current.length > 0){
                    $container.find(".post").removeClass("active");
                    current.addClass("active");
                }
            }
        }));

        {% if user.is_admin() %}
        var find_timeline_date=function(pageY){
            var posts = $( ".post", $container);

            var $last_post, last_date=new Date();

            for (var i = 0, len = posts.length; i < len; i++) {
                var $post = $(posts[i]);

                if ($post.offset().top > pageY) {
                    if ($last_post) {
                        var post_date = get_post_date($post);
                        var last_post_date = get_post_date($last_post);
                        var distance = $post.offset().top - $last_post.offset().top;
                        var ratio = (pageY-$last_post.offset().top)/distance;
                        return new Date(+last_post_date + (post_date - last_post_date) * ratio);
                    } else {
                        return new Date();
                    }
                }
                $last_post = $post;
                last_date = get_post_date($last_post);
            }
            return last_date;
        };

        var post_callback = function(post_data){
            editor.hide();
            show_post(post_data, true);
        };

        editor = new Editor(md_converter, post_callback);

        /* Timeline Actions */
        $(".timeline").click(function(e){
            editor.new_post(find_timeline_date(e.pageY)); //new post
        });
        $("#new-post").click(function(){
            editor.new_post();
        });
        {% endif %}
    });
</script>
{% endblock %}

{% block body %}
<div class="container-fluid timeline-page">
    {% if user.is_admin() %}
        {% include "_editor.html" %}
    {% endif %}
    <div class="row">
        <div class="span2">
        </div>
        <div class="span8">
            <table>
                <tr>
                    <td class="timeline" {% if user.is_admin() %}title="{{ _("New Post") }}"{% endif %}>
                    </td>
                    <td>
                        <div id="post_template" class="post span5 hide" >
                            <input type="hidden" class="date_val" />
                            <div class="post-date">
                                <span></span>
                            </div>
                            {% if user.is_admin() %}
                            <div class="menu btn-group pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    <i class="icon-download"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="menu-edit" href="javascript:;">{{ _("Edit") }}</a></li>
                                    <li><a class="menu-delete" href="javascript:;">{{ _("Delete") }}</a></li>
                                </ul>
                            </div>
                            {% endif %}
                            <span class="post-author pull-left"><img src="" class="avatar32"/></span>
                            <span class="label pull-left post-hide hide"></span>
                            <span class="post-sticky hide" title="{{ _("Sticky") }}"></span>
                            <span class="post-title"><a href=""></a></span>
                            <ul class="tags"></ul>
                            <div class="post-body"></div>
                            <ul class="thumbnails hide"></ul>
                            <a class="post-category" href=""><i class="icon-th-large icon-white"></i></a>
                            <div class="cmdbar">
                                <i class="icon-eye-open"></i><span class="post-viewed"></span>
                                <a class="share" href="javascript:;" title="{{ _("Share") }}"><i class="icon-share"></i></a>
                                <a class="stats" stats_type="Post" name="like_count" oper="increase"
                                   href="javascript:;" title="{{ _("Like") }}"><i class="icon-thumbs-up"></i>
                                </a>
                                <a class="stats" stats_type="Post" name="unlike_count" oper="increase"
                                   href="javascript:;" title="{{ _("Unlike") }}"><i class="icon-thumbs-down"></i>
                                </a>
                                <a class="comment" href="javascript:;" title="{{ _("Comment") }}"><i class="icon-comment"></i></a>
                            </div>
                            <div class="comments_panel hide"></div>
                        </div>
                        <!-- end post template -->
                        <div class="container-timeline">
                        </div>
                    </td>
                </tr>
            </table>
            <img id="post-loading" class="loading hide" src="/static/images/posts_loading.gif" alt="{{ _("loading") }}..."/>
            <button id="load-more-post" class="btn hide">{{ _("More") }}...</button>
        </div>
    </div>
</div>
{% include "__comment.html" %}
{% endblock %}
