/* BootStrap hacks */
body {
  padding-top: 70px;
  padding-bottom: 40px;
}
.navbar .nav .active > a {
  border-top: 2px #fff solid;
}
.nav-tabs {
    margin-bottom: 15px;
}
.dis-none {
    display: none;
}
img {
    max-width: 100%;
}
/* default styles */
.avatar16 {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.avatar24 {
    height: 24px;
    width: 24px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.avatar32 {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.avatar48 {
    height: 48px;
    width: 48px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

/* MarkDown Editor */
.wmd-button-bar
{
    width: 100%;
}

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/static/assets/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#wmd-image-bar {
    display: none;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
    background-color: Black;
    z-index: 2001 !important;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px;
    z-index: 2002 !important;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
    z-index: 2003 !important;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
    z-index: 2004 !important;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
/* End MarkDown Editor */

/* Timeline  */
.timeline{
    width: 6px;
    background-color: #DDDDDD;
    height: 60px;
}

.timeline:hover{
    cursor: crosshair;
    background-color: #1BA1E2;
}

.container-timeline {
    float: left;
}

.container-timeline .year-content {
    float: left;
    width: 100%;
}

.container-timeline .menu{
    position: absolute;
    display: block;
    right: 8px;
    top: -2px;
}

.container-timeline .post {
    float: left;
    clear: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 16px;
    width: 520px;
}


.container-timeline .post-body {
    margin: 20px 0px;
}

.container-timeline .post:before {
    content: "";
    position: absolute;
    display: block;
    left: -16px;
    top: 14px;
    width: 0;
    height: 0;
    border:8px solid;
    border-color:transparent #ccc transparent transparent;/
    border-style:dashed solid dashed dashed;
}
.container-timeline .post.active:before {
    border-color:transparent #1BA1E2 transparent transparent;/
}

.container-timeline .post:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    display: block;
    left: -28px;
    top: 16px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.container-timeline .post.active:after {
    background: #1BA1E2;
}

.container-timeline .timeline-year {
    display: block;
    clear: both;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    left: -56px;
}
.container-timeline .timeline-year a {
    color: #666;
    border: 2px solid #BBBBBB;
    background-color: #FFFFFF;
    display: block;
    width: 100px;
    padding: 4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 20px;
}
.container-timeline .timeline-year a:hover {
    color: #666;
    text-decoration: none;
    background-color: #bbb;
}

.container-timeline .post-date {
    position: absolute;
    display: block;
    left: -100px;
    top: 8px;
    font-size: 1.4em;
    color: #D0D0D0;
}
.container-timeline .post.active .post-date {
    color: #1BA1E2;
}
.container-timeline .post-date span {
    display: block;
}


.container-timeline .post-avatar {
    position: absolute;
    display: block;
    left: -80px;
    top: 0px;
}
.container-timeline .post-category {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px 6px 1px 8px;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #444;
    height: 0;
    line-height: 22px;
    color: white;
    border-radius: 0 0 0 3px;
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
}

.container-timeline .post.active .post-category {
    border-bottom: 20px solid #1BA1E2;
}
.container-timeline .avatar {
    position: absolute;
    top: 10px;
    left: -140px;
    margin-right: 10px;
}
.container-timeline .post-title {

}
.container-timeline .cmdbar {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 0.8em;
    color: #666;
}
.container-timeline .cmdbar a {
    color: #666;
    text-decoration: none;
}
.container-timeline .cmdbar a:hover {
    text-decoration: none;
}
.container-timeline .comments_panel {
    border: 1px #ccc solid;
    margin-bottom: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #f7f7f7;
}

.timeline-page #post-loading {
    position: relative;
    left: -20px;
}

.timeline-page #load-more-post {
    position: relative;
    left: -50px;
    width: 100px;
}

.comment-author {
    max-width: 200px;
}

/* Pages */
.post-sticky {
    width: 24px;
    height: 24px;
    background: no-repeat url(/static/images/pin_sticker.png) 50% 50%;
    display: inline-block;
}
.list-menu .post-sticky {
    width: 16px;
    height: 16px;
    background-size: 20px;
}

.video_player {
    width: 460px;
    height: 380px;
}
.magicycles_widget {
    width: 100%;
    height: 120px;
}


.tags_cloud {
    position: inherit;
}

.tags_cloud .tag {
    margin: 4px 4px 0 4px;
}

.post {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

.post.active {
    border-color: #0089e0;
}

.post .post-title .title {
    text-decoration: none;
    font-size: 1.5em;
}

.post-body img {
    display: inline-block;
    max-width: 100% !important;
    height: auto;
}

.tags {
	margin:0;
	padding:0;
    display: inline-block;
	position:absolute;
	right:20px;
	top:-12px;
	list-style:none;
}

.tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size: 12px;
}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#aaa;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

.post.active .tags a {
    background:#0089e0;
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #aaa transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}
.post.active .tags a:before {
    border-color:transparent #0089e0 transparent transparent;
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
}
.tags a:hover{background:#0089e0;}

.tags a:hover:before{border-color:transparent #0089e0 transparent transparent;}

.slider-bar {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
}
.list-holder {
    z-index: 0;
}

/* Bootstrap3 Lightbox styles  */
.ekko-lightbox .ekko-lightbox-container {
    background: url("/static/images/posts_loading.gif") no-repeat 50% 50%;
    min-height: 60px;
    border: solid 8px #eee;
    border-radius: 6px;
}
.ekko-lightbox .modal-header h4.modal-title {
    text-align: center;
}

/* Comment Box */
.comment-title {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
}

.threads {
    list-style: none;
    margin: 0;
    font-size: 0.95em;
    padding: 0 10px 20px 10px;
}

.threads .thread {
    border-top: 2px #eee solid;
    min-width: 160px;
}

.threads .command {
    padding: 5px;
}

.threads .user_name {
    font-size: 0.95em;
    font-weight: bold;
}

.threads .comment-content {
    padding: 5px 10px 5px 10px;
}

.threads .deleted {
    text-decoration:line-through;
}

.comment-input {
    font-size: 0.9em;
    padding: 10px;
}
.comment-input .nav {
    margin-bottom: 4px;
}
.comment-input textarea {
    margin: 0;
}
.comment-input .preview {
    padding: 10px;
}
.comment-input .message {
    margin-top: 8px;
}

/* resp */
@media (min-width: 992px) {
    .slider-bar {
        position: fixed;
    }
    .modal-dialog {
        width: 800px;
    }
}
@media (max-width: 992px) {
    .slider-bar {
        position: relative;
    }
}
@media (max-width: 768px) {
    .container-timeline {
         width: 100%;
    }
    .container-timeline .timeline-year {
        left: -10px;
    }
    body {
        padding-top: 0px;
    }
}
@media (max-width: 520px) {
    .container-timeline .post {
        width: 100%;
    }
}